.btn {
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  border-radius: 0;

  &--black {
    background-color: $color-black;
    color: $color-white;

    &:hover {
      color: $color-yellow;
    }
  }

  &--yellow {
    background-color: transparent;
    color: $color-black;
    border: 1px solid $color-yellow;
    padding: 0.25rem 1rem;
    text-transform: initial;

    &:hover {
      background-color: $color-yellow;
    }
  }

  &--orange {
    background-color: $color-gray;
    color: $color-black;
    border-radius: 0.5rem;
    padding: 0.2rem 0.75rem;
    text-transform: initial;

    &:hover {
      background-color: $color-orange;
      color: $color-white;
    }
  }

  &--blue {
    background-color: $color-blue;
    color: $color-white;
    text-transform: unset;

    &:hover {
      color: $color-yellow;
    }
  }

  &--arrow {
    @include relative;

    &::after {
      content: '';
      @include absolute($top: -2px, $left: 100%, $zindex: $z-elevator);
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 25px solid black;
    }
  }

  &--small {
    padding: 0.2rem 0.5rem;
    font-size: $fs-sm;
  }
}

.buttons {
  &__list {
    @include flex($justify: flex-end, $align: center, $wrap: wrap);
  }

  &__item {
    padding: 0.5rem;
  }
}
