.btn {
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  border-radius: 0;

  &--black {
    background-color: $color-black;
    color: $color-white;

    &:hover {
      color: $color-yellow;
    }
  }

  &--arrow {
    @include relative;

    &::after {
      content: '';
      @include absolute($top: -2px, $left: 100%, $zindex: $z-elevator);
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 25px solid black;
    }
  }
}
