.news {
  &__img {
    @include relative;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: '';
      @include absolute($top: 0, $left: 150%, $zindex: 2);
      @include size($width: 150%, $height: 100%);
      background-color: rgba($color: $color-white, $alpha: 0.5);
      transform: skew(-56deg);
      transition: 0.5s;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
      left: 50%;
    }
  }

  &__body {
    color: $color-black;
    padding: 1rem 0;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: $ff-time;
    font-size: $fs-xl;
  }

  &__author {
    color: $color-gray;
    padding: 0.5rem 0;
  }

  &__desc {
    font-size: $fs-lg;
    color: $color-black;
  }

  &__more {
    color: $color-gray;
    font-size: $fs-base;
  }
}

.product {
  margin: 1rem 0;
  &:hover .product__more {
    opacity: 1;
    visibility: visible;
    transform: translateY(-1rem);
  }

  &__img {
    @include relative;
    height: 500px;
    object-fit: contain;
    cursor: pointer;
    overflow: hidden;
    @include respond-to(desktop-and-down) {
      height: 250px;
    }
  }

  &__tag {
    @include absolute($top: -10%, $left: -8%);
    @include size($width: 150px);
    @include respond-to(tablet-and-down) {
      @include absolute($top: -10%, $left: -4%);
    }

    &--new {
      @include absolute($top: 30%, $left: -45%);
      @include size($width: 220px, $height: 40px);
      background-color: $color-yellow;
      line-height: 40px;
      font-size: $fs-lg;
      transform: rotate(-45deg);
    }

    &--sale {
      @extend .product__tag--new;
      background-color: $color-red;
    }

    &--hot {
      @extend .product__tag--new;
      background-color: $color-green;
    }
  }

  &__more {
    @include flex($justify: space-around, $align: center);
    @include size($width: 100%, $height: auto);
    color: $color-white;
    background-color: $color-black;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    margin-top: -1rem;
  }

  &__love {
    @include flex($justify: center, $align: center);
    padding: 0.5rem 0;
  }

  &__compare {
    @extend .product__love;
  }

  &__txt {
    margin-bottom: 0;
    padding-left: 0.5rem;
  }

  &__body {
    color: $color-black;
  }

  &__title {
    text-transform: uppercase;
    font-size: $fs-lg;
    padding: 1rem 0 0.5rem 0;

    &:hover {
      color: $color-yellow;
    }
  }

  &__price {
    &-sale {
      color: $color-yellow;
      font-size: $fs-lg;
      padding-right: 0.5rem;
    }

    &-cost {
      text-decoration: line-through;
    }
  }
}
