.breadcrumbs {
  margin: 2rem 0;
}

.breadcrumb {
  &__item {
    @include relative;
    padding: 0 0.5rem;

    &:not(:last-child)::after {
      content: '';
      @include absolute($top: 33%, $left: 100%);
      @include size($width: 1px, $height: 10px);
      background-color: $color-black;
      transform: skew(-30deg);
    }

    &:last-child .breadcrumb__link {
      color: $color-yellow;
    }
  }

  &__link {
    font-size: $fs-base;
  }
}

.title {
  @include relative;
  font-size: $fs-xl;
  text-transform: uppercase;
  color: $color-black;

  &::after {
    content: '';
    @include absolute($top: 100%, $left: 0);
    @include size($width: $wf);
    background: url(/assets/title-dark.png) no-repeat 50% center;
  }
}

.subtitle {
  @include relative;
  color: $color-black;
  text-transform: uppercase;
  font-size: $fs-lg;

  &::after {
    content: '';
    @include absolute($top: 100%, $left: 0);
    @include size($width: $wf);
    background: url(/assets/titleleft-dark.png) no-repeat left top;
  }
}
