@font-face {
  font-family: 'UMT_Aquarelle';
  src: url(../../../assets/font/UTM\ Aquarelle.ttf);
}

@font-face {
  font-family: 'UVF_Didot';
  src: url(../../../assets/font/UVF\ Didot.ttf);
}

@font-face {
  font-family: 'Lobster';
  src: url(../../../assets/font/Lobster-Regular.ttf);
}
