@import './typography';
$fs-xs: 12px;
$fs-sm: 14px;
$fs-base: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fw-light: 400;
$fw-medium: 600;
$fw-bold: 800;
$ff-time: 'Times New Roman', Times, serif;
$ff-UTM: 'UMT_Aquarelle', sans-serif;
$ff-UVF: 'UVF_Didot', serif;
$ff-Lobster: 'Lobster', sans-serif;
$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #e6ae49;
$color-red: #eb311c;
$color-green: #63ae25;
$color-gray: #cacaca;
$z-elevator: 1;
$wf: 100%;
