.address {
  color: $color-black;

  &__info {
    border-top: 1px solid $color-gray;
    padding-top: 1rem;
  }

  &__link {
    @include relative;

    &::after {
      content: '';
      @include absolute($top: 100%, $left: 0);
      @include size($width: $wf, $height: 1px);
      background-color: $color-black;
    }

    &--blue {
      color: $color-blue;
    }
  }
}

.checkout-cartitem {
  @include flex($justify: flex-start, $align: center);
  &__img {
    @include size($width: 100px);
    object-fit: contain;
  }
}
