.cart {
  color: $color-black;
}

.card1 {
  @include flex($justify: center, $align: center);
}

#progressbar {
  @include flex($justify: center, $align: center, $gap: 10rem);
  position: relative;
  color: red;

  & li {
    position: relative;
    &::before {
      @include relative;
      @include size($width: 30px);
      line-height: 30px;
      display: block;
      font-size: 20px;
      background: #fff;
      border: 2px solid #e53935;
      border-radius: 50%;
      margin: auto;
    }

    &:nth-child(4)::before {
      @include size($width: 40px);
    }

    &::after {
      content: '';
      @include absolute($top: 15px, $left: 0, $zindex: -1);
      @include size($width: 700%, $height: 2px);
      background: #bdbdbd;
    }

    &.active::after {
      background: #e53935;
    }

    &.active::before {
      background: #e53935;
      font-family: FontAwesome;
      content: '\f00c';
    }
  }

  & .step0::before {
    content: '';
    color: $color-white;
  }

  & .content {
    @include absolute($top: 100%, $left: 0);
    @include flex($justify: center, $align: center, $gap: 8rem);
  }
}

.table {
  border: 1px solid $color-gray;

  &__img {
    @include size($width: auto, $height: 150px);
    object-fit: contain;
    display: inline-block;
  }

  &__title {
    text-transform: uppercase;
    border-right: 1px solid gray;
  }

  &__td {
    border-right: 1px solid gray;
    line-height: 150px;
    text-transform: uppercase;
  }

  &__price,
  &__total {
    color: $color-yellow;
  }

  &__tbody,
  &__tr,
  &__td {
    @include respond-to(tablet-and-down) {
      display: block;
    }
  }

  &__thead-tr {
    @include respond-to(tablet-and-down) {
      @include absolute($top: -100%, $left: -100%);
    }
  }

  &__tr {
    @include respond-to(tablet-and-down) {
      border-bottom: 1px solid $color-black;
    }
  }

  &__td {
    @include respond-to(tablet-and-down) {
      position: relative;
      padding-left: 50%;
      line-height: 2;

      &::before {
        content: attr(data-title);
        @include absolute($top: 50%, $left: 5%);
        font-size: calc($fs-xl - $fs-xs);
      }
    }
  }
}
