.carousel {
  &-caption {
    @include absolute($top: 15%, $left: 15%, $bottom: 0, $right: 0);
    color: rgba($color: $color-white, $alpha: 0.8);
  }

  &__desc {
    @include absolute($top: 0, $left: 0);
    @include respond-to(desktop-and-down) {
      @include absolute($top: 0, $left: 15%);
    }
  }

  &__title {
    @include relative;
    font-family: $ff-UTM;
    font-size: calc($fs-xs * 2 + 30vw);
  }

  &__subtitle {
    @include absolute($top: 20%, $left: 55%);
    font-family: $ff-UVF;
    font-size: calc($fs-xs * 2 + 5vw);
    text-transform: capitalize;
  }

  &__txt {
    @include absolute($top: 68%, $left: 100%);
    font-family: $ff-Lobster;
    font-size: calc($fs-base + 1vw);
    width: calc($wf / 4);
  }

  &-control-prev,
  &-control-next {
    @include size($width: 15%, $height: 5%);
    @include absolute($top: 50%, $left: null);
    color: $color-black;
  }
}

.intro {
  @include relative;
  padding: 5rem 0;
  overflow: hidden;

  &::after {
    content: '';
    @include absolute($top: 0%, $left: 0, $zindex: calc($z-elevator - 2));
    @include size($width: 100%);
    background: url(/assets/product.jpg) no-repeat;
  }

  &::before {
    content: '';
    @include absolute($top: 0%, $left: 20%, $zindex: calc($z-elevator - 2));
    @include size($width: 100%);
    background: url(/assets/product.jpg) no-repeat;
    transform: rotateY(180deg);
    @include respond-to(desktop-and-down) {
      display: none;
    }
  }

  &__desc {
    padding-top: 2rem;
    color: $color-black;
    font-size: $fs-base;
  }

  &__product {
    padding-top: 15rem;
    @include respond-to(smallphone-and-down) {
      padding-top: 25rem;
    }
  }
}

.highlight {
  background: $color-white;
  margin-top: -30rem;

  &__wrapper {
    @include flex($justify: space-between, $align: flex-start);
    padding: 5rem;
    @include respond-to(desktop-and-down) {
      @include flex($justify: center, $align: center, $direction: column);
    }
    @include respond-to(smallphone-and-down) {
      padding: 0;
    }
  }

  &__img {
    @include size($width: $wf, $height: 800px);
    object-fit: contain;
    @include respond-to(desktop-and-down) {
      @include size($width: $wf, $height: 500px);
    }
  }

  &__title {
    font-size: calc($fs-xs * 2);
    letter-spacing: 1.2px;
  }

  &__info {
    @include size($width: 45%, $height: 100%);
    @include respond-to(desktop-and-down) {
      @include size($width: $wf);
    }
  }

  &__price {
    padding: 1rem 0;
    font-size: calc($fs-sm + $fs-base);
    color: $color-yellow;
  }
}

.time {
  @include flex($justify: center, $align: center, $wrap: wrap);

  &__item {
    color: gold;
    width: 50%;
    padding: 2rem;
    border: 1px solid gold;
    font-size: calc($fs-sm + $fs-base);
  }
}

.albums {
  &__list {
    @extend .time;
  }

  &__item {
    @include relative;
    @include size($width: 25%);
    @include respond-to(largedesktop-and-down) {
      @include size($width: 50%);
    }
    @include respond-to(tablet-and-down) {
      @include size($width: 100%);
    }

    &:hover .albums__img {
      border: 5px solid $color-yellow;
    }

    &:hover .albums__content {
      opacity: 1;
      visibility: visible;
    }

    &:hover .albums__desc::after {
      @include size($width: 85%, $height: 100%);
    }

    &:hover .albums__desc::before {
      @include size($width: 75%, $height: 120%);
    }
  }

  &__content {
    @include absolute($top: 30%, $left: 0%, $zindex: $z-elevator);
    @include size($width: $wf, $height: auto);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }

  &__img {
    @include size($width: $wf, $height: 300px);
    object-fit: none;
  }

  &__year {
    font-size: calc($fs-xs * 2);
    letter-spacing: 6px;
  }

  &__desc {
    @include relative;
    @include respond-to(desktop-and-down) {
      padding: 2rem 0;
    }

    &::after {
      content: '';
      @include absolute($top: 0%, $left: 5%);
      @include size($width: 0, $height: 100%);
      border-top: 1px solid $color-white;
      border-bottom: 1px solid $color-white;
      transition: 0.4s;
    }

    &::before {
      content: '';
      @include absolute($top: -10%, $left: 10%);
      @include size($width: 75%, $height: 0);
      border-left: 1px solid $color-white;
      border-right: 1px solid $color-white;
      transition: 0.4s;
      transition-delay: 0.4s;
    }
  }

  &__title {
    font-size: calc(6 * 0.7vw);
    text-transform: uppercase;
    letter-spacing: 10px;
  }
}

.customer {
  &__quote {
    @include size($width: 15%);
    margin: 2rem 0 1rem 0;
  }

  &__img {
    @include size($width: 25%, $height: 100px);
    object-fit: cover;
    border-radius: 5px;
    margin: 2rem 0;
  }

  &__name {
    color: $color-black;
    text-transform: uppercase;
  }

  &__position {
    color: $color-gray;
    font-style: italic;
  }
}

.popup {
  @include absolute($top: 0, $left: 0, $zindex: 999);
  @include size($width: $wf);
  color: $color-black;
  @include respond-to(desktop-and-down) {
    display: none;
  }

  &__img {
    height: 450px;
    object-fit: contain;
  }

  &__cover {
    @include absolute($top: 0, $left: 0);
    @include size($width: $wf);
    background-color: rgba($color: #000000, $alpha: 0.8);
  }

  &__wrapper {
    @include absolute($top: 2%, $left: 20%);
    @include size($width: 60%, $height: 450px);
    background-color: #fff;
    text-align: center;
  }

  &__check {
    display: none;

    &:checked ~ .popup__wrapper {
      display: none;
    }

    &:checked ~ .popup__cover {
      display: none;
    }
  }

  &__intention {
    @include flex($justify: center, $align: center, $direction: column);
  }

  &__close {
    @include absolute($top: -8%, $left: 102%);
    @include size($width: 5px);
    color: #fff;
    transform: scale(2);
  }

  &__input {
    @include flex($justify: center, $align: initial, $wrap: wrap);
    @include size($width: $wf, $height: auto);
  }
}
