-
    var categoryBreadcrumbs = [
        "Trang chủ",
        "Sản phẩm",
        "Rượu vang đỏ" 
    ]

-
    var categoryProduct = [
        {
            class:"product__tag--new",
            txt:"sale",
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
        {
            class:"product__tag--new",
            txt:"sale",
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
        {
            class:"product__tag--hot",
            txt:"hot",
            src:"/assets/ASB0904_001.jpeg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            desc:"Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.",
        },
    ]

-
    var sidebar = [
        {
            title:"Rượu ngoại",
            link:[
                "Rượu chivas",
                "Hàng độc - Rượu độc đáo",
                "Johnie Walker",
                "Rượu Whisky",
                "Rượu Remy Martin",
                "Rượu Glenmorangie",
                "Rượu Ballantine's",
                "Rượu Cognac",
                "Rượu Vodka",
                "Rượu Macallan",
                "Rượu Brandy",
                "Rượu Hennessy",
                "Rượu Gin - Tequila - Liqueur - Rượu mùi",
                "Rượu Champagne",
                "Rượu Single malt Scotch whisky",
                "Rượu Spỉits",
            ]
        },
        {
            title:"Rượu Vang",
            link:[
                "Rượu Vang Pháp",
                "Rượu Vang Úc",
                "Rượu Vang Mỹ",
                "Rượu Vang Chile",
                "Rượu Vang Philip",
                "Rượu Vang Nam Phi",
                "Rượu Vang Ý",
            ]
        } 
    ]

-
    var tagList = [
        "Đồng hồ",
        "Túi",
        "Phụ kiện",
        "Giày",
        "Sandal",
        "Áo sơ mi",
        "Nước hoa",
        "Trẻ em",
        "Thời trang nữ",
    ]
