-
    var homeImg = [
        {
            src:"/assets/47bb1d096966d29c98926a156318c767.jpg",
            alt:"img1",
            year:"1978",
            title:"Rượu"
        },
        {
            src:"/assets/Depositphotos_3010981_original1.jpg",
            alt:"img2",
            year:"1978",
            title:"Rượu"
        },
        {
            src:"/assets/Depositphotos_6971969_original-1240x698.jpg",
            alt:"img3",
            year:"1900",
            title:"Rượu"
        },
        {
            src:"/assets/slide-3.jpg",
            alt:"img4",
            year:"1978",
            title:"Rượu"
        },
        {
            src:"/assets/8bd367294fd54ff78565e6a73329e848.jpg",
            alt:"img5",
            year:"1978",
            title:"Rượu"
        },
        {
            src:"/assets/wine-63931_12802-1240x829.jpg",
            alt:"img6",
            year:"1978",
            title:"Rượu"
        },
        {
            src:"/assets/47bb1d096966d29c98926a156318c767.jpg",
            alt:"img7",
            year:"1978",
            title:"Rượu"
        },
        {
            src:"/assets/slide-2.jpg",
            alt:"img8",
            year:"1978",
            title:"Rượu"
        },
    ]

-
    var homeNews = [
        {
            src:"/assets/new.png",
            title:"Rượu vang đà đạt",
            author:"Đăng bởi Giangle",
            desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m",
            more:'Read more',
        },
        {
            src:"/assets/new.png",
            title:"Rượu vang đà đạt",
            author:"Đăng bởi Giangle",
            desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m",
            more:'Read more',
        },
    ]

-
    var newProduct = [
        {
            class:"product__tag--new",
            txt:"sale",
            src:"/assets/e39.png",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
        {
            class:"product__tag--hot",
            txt:"hot",
            src:"/assets/ASB0904_001.jpeg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
        {
            class:"product__tag--sale",
            txt:"new",
            src:"/assets/e38.png",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
    ]

-
    var bestseller = [
        {
            src:"/assets/1c222c22ff45469ebc47d2ce85873359.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
        {
            src:"/assets/a26abccb2f65c963a597c2ad76f95051.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
        {
            src:"/assets/1b5b2526a5203f1d35c679e111a8ef5f.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
    ]

-
    var customerData = [
        {   
            class:"active",
            src:"/assets/timthumb (1).jpg",
            alt:"timthubs",
            name:"Gang LT",
            position:'Graphic design',
        },
        {
            src:"/assets/timthumb (2).jpg",
            alt:"timthubs",
            name:"Gang LT",
            position:'Graphic design',
        },
        {
            src:"/assets/timthumb (3).jpg",
            alt:"timthubs",
            name:"Gang LT",
            position:'Graphic design',
        },    
    ]
