-
    var orderBreadcrumbs = [
        "Trang chủ",
        "Danh sách đơn hàng"
    ]

-
    var infoOrder = [
        "Trạng thái Tất cả(16)",
        "Đã hủy(10)",
        "Chưa duyệt(0)",
        "Đã duyệt(0)",
        "Đã thanh toán-chờ mua hàng(0)",
        "Đã mua hàng(0)",
        "Hàng đã về-chờ giao hàng(0)",
        "Đã kết thúc(0)",
    ]

-
    var orderTableTitle = [
        "STT",
        "Mã háo đơn/ngày mua hàng",
        "Kho nhận hàng",
        "Số SP",
        "Tổng tiền",
        "Tình trạng",
        "Thao tác",
    ]

-
    var orderTableItem = [
        {
            stt:"1",
            name:"Leanhgiang",
            date:"17/06/2015",
            time:"01:36 14/03/2015",
            stock:"Hà đông",
            amount:"7",
            totalMoney:"345.000VNĐ",
            status:"Đã thanh toán",
        },
        {
            stt:"2",
            name:"Leanhgiang",
            date:"17/06/2015",
            time:"01:36 14/03/2015",
            stock:"Hà đông",
            amount:"7",
            totalMoney:"345.000VNĐ",
            status:"Đã thanh toán",
        },
        {
            stt:"3",
            name:"Leanhgiang",
            date:"17/06/2015",
            time:"01:36 14/03/2015",
            stock:"Hà đông",
            amount:"7",
            totalMoney:"345.000VNĐ",
            status:"Đã thanh toán",
        },
        {
            stt:"4",
            name:"Leanhgiang",
            date:"17/06/2015",
            time:"01:36 14/03/2015",
            stock:"Hà đông",
            amount:"7",
            totalMoney:"345.000VNĐ",
            status:"Đã thanh toán",
        },
        {
            stt:"5",
            name:"Leanhgiang",
            date:"17/06/2015",
            time:"01:36 14/03/2015",
            stock:"Hà đông",
            amount:"7",
            totalMoney:"345.000VNĐ",
            status:"Đã thanh toán",
        },
        {
            stt:"6",
            name:"Leanhgiang",
            date:"17/06/2015",
            time:"01:36 14/03/2015",
            stock:"Hà đông",
            amount:"7",
            totalMoney:"345.000VNĐ",
            status:"Đã thanh toán",
        },
    ]
