-
    var cartBreadcrumbs = [
        "Trang chủ",
        "Sản phẩm",
        "Giỏ hàng",
    ]

-
    var cartTitle = [
        "Ảnh",
        "Tên sản phẩm",
        "Giá", 
        "Số lượng", 
        "Tổng số", 
        "Xóa", 
    ]

-
    var cartItem = [
        {
            img: "/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            name: "Rượu vang",
            price: "345.000VNĐ",
            amount: "1",
            totalMoney: "345.000VNĐ",
        },
        {
            img: "/assets/ASB0904_001.jpeg",
            name: "Rượu vang",
            price: "450.000VNĐ",
            amount: "1",
            totalMoney: "450.000VNĐ",
        },
        {
            img: "/assets/30c4cca98af958a74f654e4cfd133d9d.jpg",
            name: "Rượu vang",
            price: "345.000VNĐ",
            amount: "1",
            totalMoney: "345.000VNĐ",
        },
        {
            img: "/assets/a3a03fc62a2e2ed45397abc7502e6cad (1).jpg",
            name: "Rượu vang",
            price: "500.000VNĐ",
            amount: "1",
            totalMoney: "500.000VNĐ",
        },
        {
            img: "/assets/a26abccb2f65c963a597c2ad76f95051.jpg",
            name: "Rượu vang",
            price: "345.000VNĐ",
            amount: "1",
            totalMoney: "345.000VNĐ",
        },
    ]

-
    var buttonsList = [
        "Tiếp tục mua hàng",
        "Xóa",
        "Cập nhật", 
    ]
