include ./dataHeader.pug
include ./dataMenu.pug
include ./dataCard.pug
include ./dataFooter.pug
include ./dataHome.pug
include ./dataDetail.pug
include ./dataCategory.pug
include ./dataCart.pug
include ./dataInfo.pug
include ./dataBlog.pug
