-
    var menu = [
        {
            class:"",
            item:"Trang chủ"
        },
        {
            class:"submenu",
            hasSubmenu:true,
            item:"Rượu vang đỏ"
        },
        {
            class:"submenu",
            hasSubmenu:true,
            item:"Rượu trắng"
        },
        {
            class :"",
            item:"Champagne"
        },
        {
            class:"",
            item:"Thông tin"
        },
        {
            class:"",
            item:"Blog"
        },
        {
            class:"",
            item:"Liên hệ"
        },
    ]

-
    var megaMenu = [
        {
            title:"Rượu ngoại",
            item:[
                "Rượu Chivas",
                "Hàng độc - Rượu độc đáo",
                "Johnnie Walker",
                "Rượu Whisky",
                "Rượu Remy Martin",
                "Rượu Glenmorangie",
            ]
        },
        {
            title:"Rượu vang",
            item:[
                "Rượu Chivas",
                "Hàng độc - Rượu độc đáo",
                "Johnnie Walker",
                "Rượu Whisky",
                "Rượu Remy Martin",
                "Rượu Glenmorangie",
            ]
        },
        {
            title:"Rượu ngoại",
            item:[
                "Rượu Chivas",
                "Hàng độc - Rượu độc đáo",
                "Johnnie Walker",
                "Rượu Whisky",
                "Rượu Remy Martin",
                "Rượu Glenmorangie",
            ]
        },
    ]
