-
    var product = [
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
    ]

-
    var blog = [
        {
            src:"/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title:"Rượu vang đà đạt",
            price:"370.000 VND",
            sale:'450.000 VND',
        },
    ]