-
    var detailBreadcrumbs = [
        "Trang chủ",
        "Detail Product"   
    ]

-
    var thumbnailsData = [
        {
            id:"slider1",
            subId:"#slider1",
            src:"/assets/e370210e14e512a186e98375db80bb25.png",
            alt:"slider1",
        } ,
        {
            id:"slider2",
            subId:"#slider2",
            src:"/assets/e38.png",
            alt:"slider2",
        } ,
        {
            id:"slider3",
            subId:"#slider3",
            src:"/assets/e39.png",
            alt:"slider3",
        } ,
        {
            id:"slider4",
            subId:"#slider4",
            src:"/assets/e40.png",
            alt:"slider4",
        } ,
        {
            id:"slider5",
            subId:"#slider5",
            src:"/assets/e38.png",
            alt:"slider5",
        } ,
    ]

-
    var color = [
        {
            class:"list__item--yellow",
            id:"inlineRadio1",
            color:"yellow",
        },
        {
            class:"list__item--black",
            id:"inlineRadio2",
            color:"black",
        },
        {
            class:"list__item--red",
            id:"inlineRadio3",
            color:"red",
        },
    ]

-
    var option = [
        {
            value:"Loại to"
        },
        {
            value:"Loại nhỏ"
        },
        {
            value:"Loại trung bình"
        },
    ]

-
    var accordion = [
        {
            id:"headingOne",
            subId:"collapseOne",
            thirdId:"#collapseOne",
            show:'show',
            status:"true",
            buttonTxt:"Đặc điểm nổi bật",
            desc:" Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item  mà các cô nàng chân to nên gắn bó trong mùa hè này."
        },
        {
            id:"headingTwo",
            subId:"collapseTwo",
            thirdId:"#collapseTwo",
            class:"collapsed",
            status:"false",
            buttonTxt:"Thông tin sản phẩm",
            desc:" Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item  mà các cô nàng chân to nên gắn bó trong mùa hè này."
        },
        {
            id:"headingThree",
            subId:"collapseThree",
            thirdId:"#collapseThree",
            class:"collapsed",            
            status:"false",
            buttonTxt:"Đánh giá",
            desc:" Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item  mà các cô nàng chân to nên gắn bó trong mùa hè này."
        },
    ]
