-
    var addressBreadcrumbs = [
        "Trang chủ",
        "Địa chỉ"
    ]

-
    var accountLists = [
        {
            lastName: "Giang",
            firstName: "Lê Anh",
            company: "Cổ phần công nghệ DKT",
            address: "Tòa nhà Hà Nội Group, 442 Đội Cấn,Ba Đình, Hà Nội",
            city: "Hà Nội",
            country: "Việt Nam",
            code: "2300089",
            phone: "0974554928",
            isEdited: true,
        },
        {
            lastName: "Giang",
            firstName: "Lê Anh",
            company: "Cổ phần công nghệ DKT",
            address: "Tòa nhà Hà Nội Group, 442 Đội Cấn,Ba Đình, Hà Nội",
            city: "Hà Nội",
            country: "Việt Nam",
            code: "2300089",
            phone: "0974554928",
            isEdited: false,
        },
        {
            lastName: "Giang",
            firstName: "Lê Anh",
            company: "Cổ phần công nghệ DKT",
            address: "Tòa nhà Hà Nội Group, 442 Đội Cấn,Ba Đình, Hà Nội",
            city: "Hà Nội",
            country: "Việt Nam",
            code: "2300089",
            phone: "0974554928",
            isEdited: false,
        },
    ]

-
    var cityList = [
        {
            name: "hoChiMinh", 
            label: "Hồ Chí Minh",
        },
        {
            name: "haNoi", 
            label: "Hà Nội",
        },
        {
            name: "dakLak", 
            label: "Đắk Lắk",
        },
        {
            name: "dakNong", 
            label: "Đắk Nông",
        },
        {
            name: "lamDong", 
            label: "Lâm Đồng",
        },
        {
            name: "phuYen", 
            label: "Phú Yên",
        },
    ]

-
    var countryList = [
        {
            name: "vietNam", 
            label: "Việt Nam",
        },
        {
            name: "korea", 
            label: "Korea",
        },
        {
            name: "china", 
            label: "China",
        },
        {
            name: "america", 
            label: "America",
        },
        {
            name: "japan", 
            label: "Japan",
        },
        {
            name: "thailand", 
            label: "Thailand",
        },
    ]
