-
    var footerMain = [
        {
            title:"Thông tin",
            link:[
                "Về chúng tôi",
                "Giao hàng",
                "Cảm nghĩ",
                "Lưu trữ",
                "Chính sách riêng tư"
            ]
        },
        {
            title:"Mua hàng",
            link:[
                "Vận chuyển và trả hàng",
                "Mua hàng an toàn",
                "Vận quốc tế",
                "Liên kết",
                "Dịch vụ giảm giá"
            ]
        },
    ]

-
    var footerSocial = [
        {
            class:"fa fa-twitter",
        },
        {
            class:"fa fa-google-plus",
        },
        {
            class:"fa fa-dribbble",
        },
        {
            class:"fa fa-linkedin",
        },
        {
            class:"fa fa-rss",
        },
    ]
