-
    var product = [
        {
            src: "/assets/508c88894d0b4dccaa27670fb720938d.jpg",
            title: "Rượu vang đà đạt",
            price: "370.000 VND",
            sale: "450.000 VND",
        },
        {
            src: "/assets/a3a03fc62a2e2ed45397abc7502e6cad.jpg",
            title: "Rượu vang đà nẵng",
            price: "370.000 VND",
            sale: "450.000 VND",
        },
        {
            src: "/assets/a26abccb2f65c963a597c2ad76f95051.jpg",
            title: "Rượu vang nha trang",
            price: "370.000 VND",
            sale: "450.000 VND",
        },
        {
            src: "/assets/ASB0904_001.jpeg",
            title: "Rượu vang hà nội",
            price: "370.000 VND",
            sale: "450.000 VND",
        },
    ]

-
    var blog = [
        {
            src: "/assets/11-tm_thickbox_default.jpg",
            title: "Rượu vang đà đạt",
            author: "Đăng bởi Giangle",
            desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m",
            more: "Read more",
        },
        {
            src: "/assets/VINSUAL04.jpg",
            title: "Rượu vang đà đạt",
            author: "370.000 VND",
            desc: "450.000 VND",
            more: "450.000 VND",
        },
    ]
