-
    var contactBreadcrumbs = [
        "Trang chủ",
        "Liên hệ"
    ]

-
    var contactSocial = [
        {
            class: "fa fa-facebook",
        },
        {
            class: "fa fa-google-plus",
        },
        {
            class: "fa fa-twitter",
        },
        {
            class: "fa fa-youtube-play",
        },
        {
            class: "fa fa-print",
        },
        {
            class: "fa fa-xing",
        },
    ]
