-
    var blogBreadcrumbs = [
        "Trang chủ",
        "Blog"
    ]

-
    var newList = [
        {
            src:"/assets/new2.png",
            alt:"img",
            title:"Rượu vang đà đạt",
            author:"Đăng bởi Giangle",
            desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m",
            more:'Read more',
        },
        {
            src:"/assets/new3.png",
            alt:"img",
            title:"Rượu vang đà đạt",
            author:"Đăng bởi Giangle",
            desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men  hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m",
            more:'Read more',
        },
        {
            src:"/assets/new2.png",
            alt:"img",
            title:"Rượu vang đà đạt",
            author:"Đăng bởi Giangle",
            desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m",
            more:'Read more',
        },
        {
            src:"/assets/new3.png",
            alt:"img",
            title:"Rượu vang đà đạt",
            author:"Đăng bởi Giangle",
            desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m",
            more:'Read more',
        },
        {
            src:"/assets/new2.png",
            alt:"img",
            title:"Rượu vang đà đạt",
            author:"Đăng bởi Giangle",
            desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m",
            more:'Read more',
        },
        {
            src:"/assets/new3.png",
            alt:"img",
            title:"Rượu vang đà đạt",
            author:"Đăng bởi Giangle",
            desc:"Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. "
        },
    ]
