doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="nguyen lee")
        meta(name="keywords" content="wine,wine house, ")
        meta(name="description" content="Winehouse is very pleased to serve you!")

        //- bootstrap link
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css")

        //- style css
        link(rel="stylesheet" href="./css/style.css")
        title Error
    body 
        .error
            img(src="/assets/16_page404.png" alt="")
            nav.error__nav  
                .nav__logo
                    a.nav__link(href="") 
                        img.logo(src="/assets/logoMenu.png" alt="")
                ul.error__list
                    li.error__item
                        a.error__link Trang chủ
                    li.error__item
                        a.error__link Liên hệ
                    li.error__item.d-none.d-lg-block
                        form.error__form
                            input.search__input(type="text" name="" placeholder="Tim kiem o day ...")
                            label.search__icon.search__icon--black( for ='search')
                                i.fa.fa-search  
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js") 
