extends ../base/layout.pug

block title 
    title Order || Wine shop 
block content
    main 
        +breadcrumbs(orderBreadcrumbs)
        section.order.mb-5
            .container
                +subtitle("Đơn hàng")
                .row 
                    .card1
                        ul#progressbar.text-center
                            li.active.step0
                            li.step0.active 
                            li.step0.active
                            li.step0
                            .content
                                h6 Giỏ hàng
                                h6 Thông tin
                                h6 Xác nhận thông tin
                .row.mt-5
                    .col-lg-8.order__content
                        .order__top.p-5
                            .subheading.mb-3 Danh sách đơn hàng 
                            .order__table
                                each item in infoOrder  
                                    span.desc.order__desc=item
                        table.table.bg-light.text-center.px-5.mb-0
                            thead.table__thead 
                                tr.table__thead-tr
                                    each item in orderTableTitle
                                        th.table__title=item
                            tbody.table__tbody.order__table-content
                    .col-lg-3
                        .order__info
                            .subheading Thông tin khách hàng
                            ul.mb-3.order__info-content
                                li
                                    i.fa.fa-user 
                                    span.desc.ps-2 GiangLe 
                                        p Leanhgiang2000@gmail.com
                                li
                                    i.fa.fa-location-arrow 
                                    span.desc.ps-2 Tòa nhà Hà Nội group 
                                        p 422 Đội Cấn,Ba Đình, Hà Nội
                                li 
                                    i.fa.fa-phone 
                                    span.desc.ps-2 (04) 3786 8904
                            a.address__link(href="") Chi tiết địa chỉ
                .row
                    .col 
                        nav.buttons
                            ul.buttons__list.pt-3
                                li.buttons__item 
                                    a.btn.button.btn--black.order-back-home back to home
block js 
    script(src="../js/confirm.js") 
