mixin header 
    header.header 
        .container 
            .header__inner.row
                .user.col-6
                    nav
                        form
                            label(for="user").user__icon
                                i.fa.fa-user-circle 
                            input.user__check#user(type="checkbox")
                            ul.header__list 
                                each item in headerUser
                                    li.header__item 
                                        a.header__link(href=item.href)=item.item
                .cart-shopping.col-2.offset-2
                    a(href="cart.html").cart-shopping__icon
                        i.fa.fa-cart-plus(style="color: white")
                        .cart-shopping__quantity
                .search.col-2
                    form
                        input.search__input(type="text" name="" placeholder="Tim kiem o day ...")
                        label.search__icon( for ='search')
                            i.fa.fa-search.search__icon--small   
